@media (min-width: 1201px) and (max-width: 1399px) {
  .hero-content h1 {
    font-size: 48px;
  }
  .section-top h2,
  .about-content h2 {
    font-size: 45px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hero-content {
    margin-top: 0;
  }

  .hero-content h1 {
    font-size: 42px;
    line-height: 60px;
  }
  .section-top h2,
  .about-content h2 {
    font-size: 42px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero-content {
    margin-top: 0;
  }

  .hero-content h5 {
    font-size: 18px;
  }

  .hero-content h1 {
    font-size: 36px;
    line-height: 50px;
  }

  .hero-content h1 br {
    display: none;
  }
  .section-top h2,
  .about-content h2 {
    font-size: 40px;
  }
}

@media (min-width: 300px) and (max-width: 767px) {
  .hero-content {
    margin-top: 0;
  }

  .hero-content h5 {
    font-size: 16px;
  }

  .hero-content h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .hero-img,
  .about-content {
    padding-top: 60px;
  }
  .section-top h5,
  .about-content h5 {
    font-size: 18px;
  }
  .section-top h2,
  .about-content h2 {
    font-size: 28px;
    line-height: 40px;
  }

  .search-text input {
    width: 180px;
  }
  input.search-btn {
    width: 100px;
    padding: 18px 0;
  }

  button.owl-prev {
    left: -10px;
  }

  button.owl-next {
    right: -10px;
  }
}
